<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register</title>
</head>

<body>
    <h1>Register</h1>

    <form action="" method="post">
        <div>
            {{ form.hidden_tag() }} {{from.username.label}} {{ form.username() }} {%if
            form.username.errors%} {%% for error in form.username.errors %%}
            <h1 style="color: red">{{ error }}</h1>
            {% endfor %}
        </div>
        <div>
            {{from.email.label}} {{ form.email() }} {%if form.email.errors%} {%% for error in form.email.errors %%}
            <h1 style="color: red">{{ error }}</h1>
            {% endfor %}
            <div>
                {{from.password.label}} {{ form.password() }} {%if form.password.errors%} {%% for error in
                form.password.errors %%}
                <h1 style="color: red">{{ error }}</h1>
                {% endfor %}
            </div>{{
            form.submit() }}
    </form>
</body>

</html>